body{
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    margin: 0;
    text-align: center;
}
.container{
    width: 90%;
    margin: auto;
}